<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />

  <title>Greetings</title>

  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <%include src="partials/nav.html"%>
  <%include src="partials/searchbar.html"%>
  <a href="/resources.html" class="left-vertical-link">
    r<br>
    e<br>
    s<br>
    o<br>
    u<br>
    r<br>
    c<br>
    e<br>
    s</a>
  <div class="container clear-top">
    <div class="text-center">
      <h1>blog</h1>
    </div>
    <section id="posts">
      <div class="container">
        
      </div>
    </section>
    <section class="col-xs-12">
      <h2 class="text-center">load more</h2>
    </section>
  </div>
  <div id="jediDiv">
    <div class="container">
      <div class="row"> 
        <h1 class="text-center">Jedi Div</h1>
        <%include src="partials/card.html"%>
        <%include src="partials/card.html"%>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>  
  <script src="js/main.js" async="true"></script>
</body>