<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />

  <title>Greetings</title>

  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body style="background-color: #fff">
  <%include src="partials/nav.html"%>
  <div class="container clear-top">
    <div class="text-center">
      <h1>blog</h1>
    </div>
    <section id="posts">
      <%include src="partials/card.html"%>        
      <%include src="partials/card.html"%>
    </section>
    <section class="col-xs-12">
      <h2 class="text-center">load more</h2>
    </section>
  </div>
  <div id="jediBump" style="height: 200px; display: none;">
    <h1 class="text-center">Jedi Div</h1>
  </div>

  <!-- Scripts -->
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>  
  <script src="js/main.js" async="true"></script>
</body>