<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />

  <title>Greetings</title>

  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body style="background-color: #E9D5B0;">
  <%include src="partials/nav.light.html"%>
  <header class="container-fluid">
    <div class="clear-top">
      <div class="col-md-6">
        <h1 class="align-right text-white text-scale">
          wanna<br>build<br>something<br>cool<br>together?
        </h1>
      </div>
      <div class="col-md-6">
        <h2 class="text-white">
          teamwork makes the dream work. let's chat about...
        </h2>
        <%include src="partials/contact-form.html"%>
      </div>
    </div>
  </header>
  <%include src="partials/footer.html"%>
</body>