<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />

  <title>New Project</title>
  
  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body class="homepage">
  <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong>
      browser. Please
      <a href="http://browsehappy.com/">upgrade your browser</a> to
      improve your experience.</p>
  <![endif]-->


  <%include src="partials/nav.html"%>
  <%include src="partials/header.html"%>

  <div class="container">
    <section class="chameleon" data-background="#FFFFFF" data-type="color" style="padding: 300px 0;">
      <div class="row">
        <ul class="flex space">
          <li>picture</li>
          <li>picture</li>
          <li>picture</li> 
        </ul>
        <h3 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni cum vero, hic recusandae esse.</h3>
      </div>
    </section>  

    <section class="phase chameleon right-align" data-background="#F8D9BA" data-type="color">
      <div class="row vert-align">
        <div class="col-sm-6">
          <img class="img-responsive" src="/images/skeleton.gif" alt="">
        </div>
        <div class="col-sm-6">
          <h2 class="">The Plan</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quibusdam quas eveniet placeat quo quod deleniti, dolorem aspernatur possimus ex ut voluptas consectetur, neque sunt ducimus harum eos ab perferendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, ut incidunt ipsa iure sed neque, tempore, quam similique est facilis deserunt cupiditate rem libero placeat explicabo fuga architecto dignissimos harum.</p>
        </div>
      </div>
    </section>

    <section class="phase chameleon" data-background="#D1E2EC" data-type="color">
      <div class="row vert-align">      
        <div class="col-sm-6">
          <img class="img-responsive" src="/images/skeleton.gif" alt="">
        </div>
        <div class="col-sm-6">
          <h2 class="">The Project</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quibusdam quas eveniet placeat quo quod deleniti, dolorem aspernatur possimus ex ut voluptas consectetur, neque sunt ducimus harum eos ab perferendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, ut incidunt ipsa iure sed neque, tempore, quam similique est facilis deserunt cupiditate rem libero placeat explicabo fuga architecto dignissimos harum.</p>
        </div>
      </div>
    </section>

    <section class="phase chameleon right-align" data-background="#FFF3A1" data-type="color">
      <div class="row vert-align">        
        <div class="col-sm-6">
          <img class="img-responsive" src="/images/skeleton.gif" alt="">
        </div>
        <div class="col-sm-6">
          <h2 class="">The Post</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quibusdam quas eveniet placeat quo quod deleniti, dolorem aspernatur possimus ex ut voluptas consectetur, neque sunt ducimus harum eos ab perferendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, ut incidunt ipsa iure sed neque, tempore, quam similique est facilis deserunt cupiditate rem libero placeat explicabo fuga architecto dignissimos harum.</p>
        </div>
      </div>
    </section>

    <section class="phase chameleon" data-background="#FFFFFF" data-type="color">
        <div class="col-sm-12 text-center">
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam doloribus.</h3>
        </div>
    </section>
  </div>
  <%include src="partials/jedi.html"%>


  <!-- Scripts -->
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>  
  <script src="js/main.js" async="true"></script>
  <script>
    //google analytics goes in here
  </script>
</body>
</html>
