<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />

  <title>New Project</title>
  
  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong>
      browser. Please
      <a href="http://browsehappy.com/">upgrade your browser</a> to
      improve your experience.</p>
  <![endif]-->

  <div id="wrapper" class="toggled">
    <div id="page_content_wrapper">
      <%include src="partials/nav.html"%>
      <%include src="partials/header.html"%>
      <div class="container">
        <%include src="partials/modal.html"%>
        <%include src="partials/article.html"%>
        <%include src="partials/footer.html"%>
        <div class="chameleon" data-background="#BADA55" data-type="color" style="height: 1200px">
          <h2>Hello world</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit vel unde quaerat esse aperiam aliquid deserunt illo voluptatum iure nemo, repudiandae iste fugiat illum accusamus voluptatibus ea temporibus, nesciunt rem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consectetur autem non accusantium reiciendis, exercitationem amet aliquam, assumenda molestias magnam placeat quisquam, quidem natus ea laboriosam explicabo debitis repellendus vel!</p>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore earum nulla id quidem, harum similique iusto doloribus aut nam in fugiat, asperiores, quas ex perspiciatis cupiditate recusandae? Provident, dolores, exercitationem!</p>
        </div>
        <div class="chameleon" data-background="url(https://i.ytimg.com/vi/HUk0hS6WObc/maxresdefault.jpg)" data-type="image" style="height: 1200px">
          <h2>Hello world</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quibusdam quas eveniet placeat quo quod deleniti, dolorem aspernatur possimus ex ut voluptas consectetur, neque sunt ducimus harum eos ab perferendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, ut incidunt ipsa iure sed neque, tempore, quam similique est facilis deserunt cupiditate rem libero placeat explicabo fuga architecto dignissimos harum.</p>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias modi ipsam dicta id distinctio reprehenderit alias illo voluptate, deleniti nam quod deserunt molestiae quam ipsum quae aliquid vitae voluptatem, perspiciatis!</p>
          <img src="http://lorempixel.com/800/800" alt="">
        </div>
        <div class="chameleon" data-background="#CCC" data-type="color" style="height: 1200px">
          <h2>Hello world</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure veniam veritatis eius nulla. Blanditiis, nostrum doloremque recusandae sed porro nemo illo nesciunt a, consequuntur libero nisi harum ut enim, veritatis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta tenetur labore perferendis doloremque consequuntur voluptates, distinctio suscipit possimus, saepe ad natus quae voluptatibus illo incidunt sequi quaerat unde ipsam laboriosam.</p>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores obcaecati tempora officia soluta dolorem error quaerat, libero culpa accusamus ullam, incidunt nesciunt repellat qui nobis laboriosam consequuntur ipsa illo nostrum!</p>
          <img src="http://lorempixel.com/800/800" alt="">
        </div>
        <div class="chameleon" data-background="#AAA" data-type="color" style="height: 1200px">
          <h2>Hello world</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quod, perferendis quis, consequatur, ad amet sint accusamus cum mollitia, nobis illum ipsam. Laboriosam saepe nulla totam libero dolor, recusandae quaerat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corporis soluta laboriosam dolores vero iure enim minus, itaque at maiores placeat, iusto quo amet culpa molestias laborum natus cum? Provident.</p>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia consequuntur quam ducimus optio praesentium reprehenderit laboriosam, maiores repudiandae ratione fuga est aspernatur rem cum sed dignissimos sapiente culpa minima id.</p>
          <img src="http://lorempixel.com/800/800" alt="">
        </div>
        <div class="chameleon" data-background="#e6e6e6" data-type="color" style="height: 1200px">
          <h2>Hello world</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur amet, facere explicabo, sequi fugit tenetur tempora, perspiciatis, laboriosam qui ex quo dolorem porro nihil natus modi. Officia a eum ab!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate temporibus voluptatibus neque vero quae, dicta, molestiae ipsa nesciunt, asperiores cum soluta modi deserunt exercitationem in. Quia fugit, amet tenetur non!</p>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque repellat id qui ipsum rerum aliquam, perspiciatis rem quisquam nulla, labore, laudantium repellendus, sunt inventore? Possimus fugiat at sed perferendis aspernatur.</p>
          <br>
          <img src="http://lorempixel.com/800/800" alt="">
          <h2>Woooow</h2>
        </div>
      </div>
    </div>
  </div>


  <!-- Scripts -->
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>  
  <script src="js/main.js" async="true"></script>
  <script>
    //google analytics goes in here
  </script>
</body>
</html>
