<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />

  <title>Greetings</title>

  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <%include src="partials/nav.html"%>
  <div class="container-fluid clear-top">
    <div class="text-center">
      <h1>resources</h1>
      <p>some helpful stuff for you to use</p>
    </div>
    <section class="row">
      <div class="col-sm-6">
        <img src="images/bulb.png" alt="">
      </div>
      <div class="col-sm-6">
        <div class="list" style="background-color: #F2F2F2;">
          <h2>the resource list</h2>
          <ul>
            <li>
              <h3>resource number 1</h3>
            </li>
            <li>
              <h3>resource number 2</h3>
            </li>
            <li>
              <h3>resource number 3</h3>
            </li>
            <li>
              <h3>resource number 4</h3>
            </li>
            <li>
              <h3>resource number 5</h3>
            </li>
            <li>
              <h3>resource number 6</h3>
            </li>
            <li>
              <h3>resource number 7</h3>
            </li>
            <li>
              <h3>resource number 8</h3>
            </li>
            <li>
              <h3>resource number 1</h3>
            </li>
            <li>
              <h3>resource number 2</h3>
            </li>
            <li>
              <h3>resource number 3</h3>
            </li>
            <li>
              <h3>resource number 4</h3>
            </li>
            <li>
              <h3>resource number 5</h3>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section id="resources">
      <div class="row">
        <%include src="partials/card.quarter.html"%>
        <%include src="partials/card.quarter.html"%>
        <%include src="partials/card.quarter.html"%>
        <%include src="partials/card.quarter.html"%>
      </div>
      <div class="row">
        <%include src="partials/card.quarter.html"%>
        <%include src="partials/card.quarter.html"%>
        <%include src="partials/card.quarter.html"%>
        <%include src="partials/card.quarter.html"%>
      </div>
    </section>
  </div>
  <%include src="partials/jedi.html"%>

  <!-- Scripts -->
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>  
  <script src="js/main.js" async="true"></script>
</body>