<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />

  <title>New Project</title>
  
  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- JotForm Scripts -->
  <script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
  <script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.14631" type="text/javascript"></script>
  <script type="text/javascript">
     JotForm.setConditions([{"action":[{"id":"action_1471627924572","fields":["4","3","6","2"],"isError":false,"visibility":"ShowMultiple"},{"id":"action_1471627895428","visibility":"Show","isError":false,"field":"4"}],"id":"1471627938300","index":"0","link":"Any","priority":"0","terms":[{"id":"term_1471627895428","field":"5","operator":"isFilled","value":"","isError":false}],"type":"field"}]);
     JotForm.init(function(){
        setTimeout(function() {
            $('input_4').hint('your name');
         }, 20);
        setTimeout(function() {
            $('input_3').hint('your email');
         }, 20);
        JotForm.setCustomHint( 'input_6', 'your message' );
    JotForm.clearFieldOnHide="disable";
    JotForm.onSubmissionError="jumpToFirstError";
     });
  </script>
</head>
<body class="forest-bg">
  <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong>
      browser. Please
      <a href="http://browsehappy.com/">upgrade your browser</a> to
      improve your experience.</p>
  <![endif]-->


  <!-- Navbar Section -->
  <nav class="navabar navbar-default navbar-splash navbar-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- brand -->
        <a class="navbar-brand" href="/">
          POLAR NOTION
        </a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#services">our services</a>
          </li>
          <li>
            <a href="#contact">contact us</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <header class="vert-align splash-header cursor-sidekick " data-href="#services" data-text="see our services" data-color="#FFFFFF">
    <div class="row container-fluid">        
      <div class="col-md-6"> 
        <h1 class="no-underline text-scale text-header text-white">
          we help people who dream do big things.
        </h1>
        <a href="#services" class="btn btn-default btn-block btn-sidekick text-bold hidden-md hidden-lg">
          see our services
        </a>
      </div>
      <div class="col-md-6 hidden-sm hidden-xs">
        <img class="img-responsive" src="/images/icons/service-icons.gif" alt="">
      </div>
    </div>
  </header>

  <main class="container-fluid pad-main-section bg-white">
    <section class="pad-section">
      <div class="row">
        <div class="col-xs-12">        
          <ul class="mvp-lights-container">
            <li class="light_top">
              <img src="images/mvp-lights/lights-02-torch.svg" alt="">
              <img class="spinning-light" src="images/mvp-lights/lights-01-torch.svg" alt="">
            </li>
            <li class="light_bottom">
              <img src="images/mvp-lights/lights-04-lantern.svg" alt="">
              <img class="spinning-light" src="images/mvp-lights/lights-03-lantern.svg" alt="">
            </li>
            <li class="light_top">
              <img src="images/mvp-lights/lights-06-flashlight.svg" alt="">
              <img class="spinning-light" src="images/mvp-lights/lights-05-flashlight.svg" alt="">
            </li> 
          </ul>
          <h2 class="text-center mvp-lights-text container-xl">Let's create a tool that will guide the journey of your business without weighing you down.</h2> 
        </div>    
      </div>
    </section>  

    <section class="row" id="services">
      <div class="col-md-6">
        <img src="images/services/-services-all.png" alt="" class="img-responsive" id="image-target">
      </div>

      <div class="col-md-6">
        <div class="list bg-grey">
          <h2 class="no-margin">the services list</h2>
          <ul class="image-sources no-underline">
            <li data-img-src="images/services/services-a-b-testing.png">
              <a>A B Testing</a>
            </li>
            <li data-img-src="images/services/services-app-design.png">
              <a>App Design</a>
            </li>
            <li data-img-src="images/services/services-app-development.png">
              <a>App Development</a>
            </li>
            <li data-img-src="images/services/services-graphic-design.png">
              <a>Graphic Design</a>
            </li>
            <li data-img-src="images/services/services-illustration.png">
              <a>Illustration</a>
            </li>
            <li data-img-src="images/services/services-information-architecture.png">
              <a>Information Architecture</a>
            </li>
            <li data-img-src="images/services/services-logo-design.png">
              <a>Logo Design</a>
            </li>
            <li data-img-src="images/services/services-user-experience.png">
              <a>User Experience</a>
            </li>
            <li data-img-src="images/services/services-web-design.png">
              <a>Web Design</a>
            </li>
            <li data-img-src="images/services/services-web-development.png">
              <a>Web Development</a>
            </li>
            <li data-img-src="images/services/services-website-optimization.png">
              <a>Website Optimization</a>
            </li>
            <li data-img-src="images/services/services-wireframing.png">
              <a>Wireframing</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="pad-section container-xl">
      <div class="row">
        <h2 class="text-center no-margin col-xs-12">We're a development and design shop that believes beautiful solutions can produce remarkable results.</h2> 
      </div>
    </section>

  </main>

  <div class="container-fluid pad-section" id="contact">
    <div class='row'>
      <div class="col-md-6">
        <h1 class="align-right text-white text-scale">
          wanna<br>build<br>something<br>cool<br>together?
        </h1>
      </div>
      <div class="col-md-6">
        <h2 class="text-white match-big-text-height">
          Thanks! Your message has been sent, and we can’t wait to read it. We’ll be in touch soon.
        </h2>
      </div>
    </div>
  </div>

  <!-- End JotForm Scripts -->
  <%include src="partials/footer.html"%>
  <script>jQuery.noConflict();</script>
</body>
</html>
