<form class="form-horizontal" autocomplete="on">
  
  <div class="form-group">
    <div class="col-xs-12">  
      <select class="form-control" id="sel1">
        <option value="your idea" selected="selected">your idea</option>
        <option value="building a web app">building a web app</option>
        <option value="a shiny new wordpress site">a shiny new wordpress site</option>
      </select>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-xs-6">      
      <input type="text" autocomplete="name" class="form-control" placeholder="your name">
    </div>
    <div class="col-xs-6">
      <input type="email" autocomplete="email" class="form-control" placeholder="your email">
    </div>
  </div>

  <div class="col-xs-12">
    <div class="form-group">
      <textarea class="form-control"></textarea>
    </div>
  </div>

  <button class="btn btn-default btn-block">submit</button>

</form>
