<form class="form" autocomplete="on">
  
  <div class="form-group">
    <select class="form-control" id="sel1">
      <option value="your idea" selected="selected">your idea</option>
      <option value="building a web app">building a web app</option>
      <option value="a shiny new wordpress site">a shiny new wordpress site</option>
    </select>
  </div>

  <div class="form-group"> 
    <div class="form-inline">
      <input type="text" autocomplete="name" class="form-control" placeholder="your name">
      <input type="email" autocomplete="email" class="form-control" placeholder="your email">
    </div>
  </div>

  <div class="form-group">
    <textarea class="form-control"></textarea>
  </div>
  
  <button class="btn btn-default btn-block">submit</button>
</form>
