<img src="images/blog-bg.png" alt="" class="img-responsive">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque minima eius, culpa iure velit harum. Officiis nam, impedit quas quasi deleniti corporis beatae adipisci consequuntur repudiandae inventore perferendis, magni nesciunt.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque minima eius, culpa iure velit harum. Officiis nam, impedit quas quasi deleniti corporis beatae adipisci consequuntur repudiandae inventore perferendis, magni nesciunt.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque minima eius, culpa iure velit harum. Officiis nam, impedit quas quasi deleniti corporis beatae adipisci consequuntur repudiandae inventore perferendis, magni nesciunt.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque minima eius, culpa iure velit harum. Officiis nam, impedit quas quasi deleniti corporis beatae adipisci consequuntur repudiandae inventore perferendis, magni nesciunt.</p>
<div class="row">
  <div class="col-sm-4">
    <img src="images/team-member.png" alt="">
  </div>
  <div class="col-sm-4">
    <img src="images/team-member.png" alt="">
  </div>
  <div class="col-sm-4">
    <img src="images/team-member.png" alt="">
  </div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque minima eius, culpa iure velit harum. Officiis nam, impedit quas quasi deleniti corporis beatae adipisci consequuntur repudiandae inventore perferendis, magni nesciunt.</p>
<div class="row">
  <div class="col-sm-6">
    <img src="images/portrait.png" alt="">
  </div>
  <div class="col-sm-6">
    <img src="images/portrait.png" alt="">
  </div>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque minima eius, culpa iure velit harum. Officiis nam, impedit quas quasi deleniti corporis beatae adipisci consequuntur repudiandae inventore perferendis, magni nesciunt.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque minima eius, culpa iure velit harum. Officiis nam, impedit quas quasi deleniti corporis beatae adipisci consequuntur repudiandae inventore perferendis, magni nesciunt.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque minima eius, culpa iure velit harum. Officiis nam, impedit quas quasi deleniti corporis beatae adipisci consequuntur repudiandae inventore perferendis, magni nesciunt.</p>
