<form id="contact-form" class="form-horizontal" autocomplete="on">
  
  <div class="form-group">
    <div class="col-xs-12">  
      <select class="form-control form-transparent" id="sel1">
        <option value="your idea" selected="selected">your idea</option>
        <option value="web app">building a web app</option>
        <option value="rebrand">rebranding your company</option>
        <option value="wordpress">a spankin' new wordpress site</option>
        <option value="lunch">what we ate for lunch</option>
      </select>
    </div>
  </div>

  <div class="hidden-form">
    
    <div class="form-group"> 
      <div class="col-xs-6">      
        <input type="text" autocomplete="name" class="form-control" placeholder="your name">
      </div>
      <div class="col-xs-6">
        <input type="email" autocomplete="email" class="form-control" placeholder="your email">
      </div>
    </div>

    <div class="col-xs-12">
      <div class="form-group">
        <textarea class="form-control" placeholder="your message" rows="5"></textarea>
      </div>
    </div>

    <button class="btn btn-contact btn-block form-control">send me!</button>

  </div>
</form>
