<header class="chameleon" data-type="color" data-background="#FFEE79">
  <div data-href="/greetings.html" class="cursor-sidekick" data-text="enlighten your idea">
    <div class="clear-top">     
      <div class="col-sm-6"> 
        <h1 class="no-underline text-scale">
          we help 
          <br>
          <a href="#people">people</a> 
          <br>
          who
          <br>
          <a href="#dreams">dream</a> do 
          <br>
          <a href="">big things.</a></h1>
      </div>
    </div>
  </div>
</header>