<!-- Navbar Section -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- brand -->
      <a class="navbar-brand" href="/">
        POLAR NOTION
      </a>
      <!-- toggle button -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="greetings.html">us</a>
        </li>
        <li>
          <a href="work.html">work</a>
        </li>
        <li>
          <a href="blog.html">blog</a>
        </li>
        <li>
          <a href="contact.html">contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
