<article class="short-post">
  <div class="clear-sidenav">
    <div class="short-post__image">   
      <img src="images/blog-bg.png" alt="blog post image">
    </div>
    <div class="short-post__header"> 
      <h2>Blog Post Title</h2>
      <h5>june 20, 2016</h5>
    </div>
    <div class="short-post__body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ea, quod voluptas excepturi quibusdam accusamus alias quas, magni, nobis possimus, aliquam necessitatibus sit officiis odit suscipit minus ex. Eaque, error.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem explicabo, consequuntur ab nobis alias pariatur animi temporibus, repellat quibusdam, in reprehenderit.</p>
      <p>Asrchitecto praesentium dolor maiores quibusdam exercitationem, minus aperiam nemo commodi delectus beatae omnis repudiandae.</p>
    </div>
    <div class="short-post__read-more highlight">
      <a href="/singlepost.html">continue reading</a>
    </div>
  </div>
</article>