.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  .card-text {
    display: none;
    padding: 10px 25px;
    background-color: #000;
    color: #FFF;
    width: 66%;
    @include center;
    margin: 0;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
    .card-text {
      display: block;
    }
  }
}