.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  .card-text {
    display: none;
    padding: 10px 25px;
    background-color: #000;
    font-size: 26px;
    color: #FFF;
    width: 66%;
    @include center;
    margin: 0;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
    .card-text {
      display: block;
    }
  }
}

.quarter-card {
  -webkit-transition: all 0.2s ease; 
  -o-transition: all 0.2s ease; 
  transition: all 0.2s ease; 
  &:hover {
    transform: translateY(-6px);
    cursor: pointer;
  }
}