header {
  height: 100vh;
  h1 {
    font-size: 100px;
    text-align: right;
    font-weight: 900;
    margin-top: 70px;
    a {
      &:hover, &:active {
        text-decoration: none;
        color: black;
        background-color: white;
      }
    }
  }
  .cursor-sidekick {
    height: 100vh;
    width: 100vw;
    cursor: pointer;
  }
}

.skew {
  height: 70vh;
  width: 80px;
  margin-top: 100px;
  background-color: white;
  display: block;
  transform: rotate(6.66deg);
  margin-left: 300px;
  &::after {
    content: '';
    height: 70vh;
    width: 80px;
    margin-top: 100px;
    background-color: #f9f9f9;
    display: block;
    transform: translateY(-10px);
    margin-left: 10px;
  }
}