.navbar-btn {
  margin-top: 11px;
  margin-bottom: 11px;
}

.navbar-fixed-top {
  -webkit-transition: top 0.25s cubic-bezier(0.57, 0.31, 0.57, 0.77);
  -o-transition: top 0.25s cubic-bezier(0.57, 0.31, 0.57, 0.77);
  transition: top 0.25s cubic-bezier(0.57, 0.31, 0.57, 0.77);
}

.navbar-default {
  background: transparent;
}

.navbar-light {
  &.navbar-default {
    .navbar-brand {
      color: #fff;
    }
    .navbar-nav > li > a {
    color: #FFF;
    }
  }
}