.navbar-btn {
  margin-top: 11px;
  margin-bottom: 11px;
}

.navbar-fixed-top {
  -webkit-transition: top 0.25s cubic-bezier(0.57, 0.31, 0.57, 0.77);
  -o-transition: top 0.25s cubic-bezier(0.57, 0.31, 0.57, 0.77);
  transition: top 0.25s cubic-bezier(0.57, 0.31, 0.57, 0.77);
}

.navbar-default {
  background: transparent;
  border: none;
}

.nav > li > a {
  text-decoration: none;
  &:hover, &:active {
    text-decoration: underline;
  }
}

.navbar-brand {
  text-decoration: none;
}

.navbar-light {
  &.navbar-default {
    .navbar-brand {
      color: #fff;
    }
    .navbar-nav > li > a {
      color: #FFF;
    }
  }
}

.nav-inline {
  a {
    margin: 0 10px;
  }
}

.search {
  position: fixed;
  right: -100px;
  min-width: 200px;
  transform: rotate(90deg);
  .vertical-search {
    width: 200px;
  }
}

.left-vertical-link {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  text-decoration: none;
}

.right-vertical-link {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}