.navbar-btn {
  margin-top: 11px;
  margin-bottom: 11px;
}

.navbar-fixed-top {
  -webkit-transition: top 0.25s cubic-bezier(0.57, 0.31, 0.57, 0.77);
  -o-transition: top 0.25s cubic-bezier(0.57, 0.31, 0.57, 0.77);
  transition: top 0.25s cubic-bezier(0.57, 0.31, 0.57, 0.77);
}

.navbar-default {
  background: transparent;
  border: none;
}

.navbar-light {
  &.navbar-default {
    .navbar-brand {
      color: #fff;
    }
    .navbar-nav > li > a {
    color: #FFF;
    }
  }
}

.nav-inline {
  a {
    margin: 0 10px;
  }
}

.search {
  position: absolute;
  top: 38%;
  right: 10px;
  width: 30px;
  transform: rotate(90deg);
  .vertical-search {
    width: 200px;
  }
}