// Put any @imports here
// See Readme for a list of supported ones
@import 'partials/variables';
// Bootstrap variable Overrides
$font-size-base: 18px; 
$brand-primary:         #428bca; // #337ab7
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

@import 'bootstrap';
@import 'font-awesome';
@import 'partials/mixins';

// Variable Declarations
$primary: #e2ebf3;
$secondary: #666;

@import 'partials/polar_styles';
@import 'partials/bootstrap';
@import 'partials/navbar';
@import 'partials/header';
@import 'partials/footer';

body {
  -webkit-transition: background 0.3s ease;  
  -o-transition: background 0.3s ease;  
  transition: background 0.3s ease;  
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #FFEE79;
}

.sidekick-text {
  position: absolute;
  color: black;
  text-decoration: underline;
}

.flex {
  display: flex;
  &.space {
    justify-content: space-around;
    padding: 0px;
    list-style-type: none;
  }
}

.right-align {
  text-align: right;
}

.img-responsive {
  margin: 0 auto;
}

.cursor-sidekick {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.phase {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.service-list {
  background-color: #FFE44D;
  padding: 40px;
  ul {
    li {
      margin-top: 20px;
    }
  }
}