// Put any @imports here
// See Readme for a list of supported ones
@import 'partials/variables';
// Bootstrap variable Overrides
$font-size-base: 18px; 
$brand-primary:         #428bca; // #337ab7
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

@import 'bootstrap';
@import 'font-awesome';
@import 'partials/mixins';

// Variable Declarations
$primary: #e2ebf3;
$secondary: #666;

@import 'partials/polar_styles';
@import 'partials/bootstrap';
@import 'partials/navbar';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/card';
@import 'partials/elements';
@import 'partials/blog';
@import 'partials/fonts';

body {
  -webkit-transition: background 0.3s ease;  
  -o-transition: background 0.3s ease;  
  transition: background 0.3s ease;  
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  &.homepage {
    background-color: #FFEE79;
  }
}

h1, h2, h3 {
  font-weight: 900;
}

h4, h5, h6 {
  font-weight: bold;
}

p {
  font-weight: normal;
}

img {
  width: 100%;
  height: auto;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-superbold {
  font-weight: 900;
}

.sidekick-text {
  position: absolute;
  color: black;
  text-decoration: underline;
}

.flex {
  display: flex;
  &.space {
    justify-content: space-around;
    padding: 0px;
    list-style-type: none;
  }
}

.right-align {
  text-align: right;
  .col-sm-6:first-child {
    order: 2;
  }
  .col-sm-6:last-child {
    order: 1;
  }
}

.img-responsive {
  margin: 0 auto;
}

.cursor-sidekick {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.phase {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.service-list {
  background-color: #FFE44D;
  padding: 40px;
  ul {
    li {
      margin-top: 20px;
    }
  }
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
  padding-right: 1.5em
}

textarea {
  resize: none;
  height: 500px;
}

.form-control {
  border: 0px;
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  color: #F8D9BA;
  background-color: #FFF;
  background-image: none;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #F8D9BA;
    opacity: 0.9;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #F8D9BA;
    opacity: 0.9;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #F8D9BA;
    opacity: 0.9;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #F8D9BA;
    opacity: 0.9;
  }
}

.no-underline {
  a {
    text-decoration: none;
  }
}

.vert-align {
  display: flex;
  align-items: center;
  @include breakpoint(md) {
    display: block;
  }
}

#mySelect {
  border-radius: 0
}

.clear-top {
  padding-top: 100px;
}

#jediDiv {
  background-color: #FED525;
  display: none;
  padding: 15px 0;
}

.search-field {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  &__input {
    position: fixed;
    width: 75vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fake-form {
  padding: 10px 25px;
  &__text {
    color: #fff;
    font-size: 30px;
    line-height: 34px;
  }
}
